.testimonials .container{
    background-image: url();
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 150px;
}
.testimonials .card{
    border-color: transparent;
}

.testimonials .card .card-footer{
    background: transparent;
    border: 0;
}
.testimonials .card:hover{
    background-image: linear-gradient(75deg, hsl(175, 79%, 46%),#65cfe2);
    color: #fff !important;
    transition:  .1s ;
    transform: scaleY(1.2);
}
